body, html {
    height: 100%;
    width: 100%;
}

body{
    padding-top: 20px;
    background: gray url(http://i.stack.imgur.com/jGlzr.png) no-repeat fixed center center;
    background-repeat: repeat;
}

a:link{
    text-decoration: underline;
}
a:hover{
    color:#2490E0FF;
}
a:visited{
    color: #551A8B;
}
a:active {
    color: #0000FF;
}

.main {
    padding: 3%;
}

.intro-panel{
    margin-top: 10%;
}

.intro-panel .panel {
    text-align: center;
    background-color: rgba(242, 242, 242, 0.9);
}

label {
    color: #000000;
}

p, h1 {
    color: #000000;
}